body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #114430;
    background-image: url('background.png'); /* Agrega una imagen de fondo */
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6ba53e;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #6ba53e;
}

.vista {
    display: none;
}

.vista.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    color: #333; /* Color del texto de las tablas */
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #042d29;
    color: white; /* Color del texto de los encabezados */
}

td {
    color: #333; /* Color del texto de las celdas */
}

.input-row {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.input-row input, .input-row button, .input-row select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.jugador-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.password-dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.password-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; /* Hacer el cuadro más pequeño */
}

.password-content h3 {
    margin-top: 0;
}

.password-content button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #6ba53e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.password-content button:hover {
    background-color: #6ba53e;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.mensaje {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

/* Estilos adicionales para mejorar la presentación */
table thead {
    background-color: #6ba53e;
    color: white; /* Color del texto de los encabezados */
}

table tbody tr:nth-child(odd) {
    background-color: #c8c8c8;
}

table tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}